html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    color: rgb(243, 5, 52);

    color: white;
    background-color: crimson;
    text-decoration: none;
    padding: 5px 10px;
}

.link:visited {
    background-color: darkred
}

.link:focus {
    outline: 2px solid color:darkblue
}

.link:hover {
    background-color: red;
    border-bottom: 1.5px solid;
    outline: none
}

.link:active {
    background-color: blue;
    padding-left: ;
}



https: //html.spec.whatwg.org/multipage/semantics-other.html#pseudo-classes